/**
 * Loading ([aria-busy=true])
 */
 [aria-busy=true] {
  cursor: progress;
}

[aria-busy=true]:not(input, select, textarea)::before {
  display: inline-block;
  width: .5em;
  height: .5em;
  border: 0.17em solid currentColor;
  border-radius: .5rem;
  border-right-color: transparent;
  content: "";
  vertical-align: text-bottom;
  vertical-align: -0.125em;
  animation: spinner 0.75s linear infinite;
}
[aria-busy=true]:not(input, select, textarea):not(:empty)::before {
  margin-right: var(--x-spacing);
  margin-left: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: var(--x-spacing);
  margin-inline-end: var(--x-spacing);
}
[aria-busy=true]:not(input, select, textarea):empty {
  text-align: center;
}

button[aria-busy=true],
input[type=submit][aria-busy=true],
input[type=button][aria-busy=true],
input[type=reset][aria-busy=true],
a[aria-busy=true] {
  pointer-events: none;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}