@import './checkbox,radio.css';

[type=radio] {
  border-radius: 50%;
}

[type=radio]:is(
  :checked,
  :checked:active,
  :checked:focus
  ) {
  border-color: var(--primary-color);
  background-color: var(--primary-inverse-color);
  border-width: 0.35rem;
}