@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* 
var(--tg-color-scheme) [light|dark]
var(--tg-viewport-height)
var(--tg-viewport-stable-height)


var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-text-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
var(--tg-theme-secondary-bg-color) 
*/

/* Light-blue Light scheme (Default) */
/* Can be forced with data-theme="light" */

/* Theming */
/*
--theme-primary-color
--theme-primary-dark-color
--theme-primary-tarnsparent-color
--theme-primary-inverse-color
--theme-secondary-color
--theme-bg-color
--theme-bg-secondary-color
--theme-text-color
--theme-text-hint-color
--theme-viewport-height
*/



:root,
[data-theme=light] {
  --primary-color: #52a8eb;
  --primary-transparent-color: #52a8eb33;
  --primary-dark-color: #3b9de8;
  --primary-inverse-color: #fff;
  --secondary-color: #3489e5;

  --bg-color: #ffffff;
  --bg-secondary-color: #f0f0f0;
  --text-color: #333333;
  --text-hint-color: #a8a8a8;
}

[data-theme=dark] {
  --primary-color: #52a8eb;
  --primary-transparent-color: #52a8eb33;
  --primary-dark-color: #3b9de8;
  --primary-inverse-color: #fff;
  --secondary-color: #60ace2;
  
  --bg-color: #1d2834;
  --bg-secondary-color: #151f28;
  --text-color: #ffffff;
  --text-hint-color: #636e7a;
}

:root,
[data-theme] {
  --x-spacing: .7rem;
  --y-spacing: .5rem;
  --viewport-height: 100vh;

  --link-color: var(--secondary-color);
  --form-element-focus-outline-boxshadow: 0 0 0 3px var(--primary-transparent-color);
  --form-element-focus-border: 1px solid var(--primary-color);
  --form-element-border-radius: .4rem;
  --form-element-height: 2.2rem;
  --form-element-bg-color: var(--bg-secondary-color);
  --form-input-border: 1px solid var(--text-hint-color);
  --form-button-border: 1px solid var(--primary-color);
  
  --form-element-invalid-border-color: #b71c1c;
  --form-element-invalid-active-border-color: #c62828;
  --form-element-invalid-focus-color: rgba(198, 40, 40, 0.25);
  --form-element-valid-border-color: #2e7d32;
  --form-element-valid-active-border-color: #388e3c;
  --form-element-valid-focus-color: rgba(56, 142, 60, 0.25);
  
  --transition: .2s ease-in-out;
  --font-family: system-ui, -apple-system, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 1em;
}